@font-face {
    font-family: Allura_Regular;
    src: url("Czcionki/Allura-Regular.ttf");
}
body{
    background-color: lightgreen;
    color: red;
    font-family: Allura_Regular;
    font-size: 25px;
}